* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  width: 100%;
  margin: 25px auto 0;

  color: rgba(61, 61, 61, 1);
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}

header {
  width: 100%;
  height: 53px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);

  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.site-nav {
  margin-top: 8px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list a {
  display: block;
  padding: 0 0 23px 0;
}

.currrent-page,
.nav-list a:hover {
  border-bottom: 3px solid rgba(70, 163, 88, 1);

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.site-nav-width {
  width: 80px;
}

button {
  min-width: 100px;
  height: 35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Cera Pro;
  font-weight: 500;
  line-height: 20px;

  background: rgba(70, 163, 88, 1);
  border: none;
  border-radius: 6px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.btn-logout {
  margin-right: 4px;
}

section {
  border: 1px solid red;
  /* background: rgba(251, 251, 251, 1); */
  width: 100%;
  display: flex;
}

.hero-welcome {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* margin: 68px 0px 0px 43px; */
}

h1 {
  margin-top: 7px;

  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}

.hero-span {
  color: rgba(70, 163, 88, 1);
}

.hero-text {
  font-size: 14px;
  line-height: 24px;

  margin: 5px 0px 44px 3px;
}

.section-hero {
  justify-content: space-between;
  margin: 12px 0px 46px 0px;
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}

.hero {
  padding: 68px 93px 85px 40px;
}

.button-link {
  display: inline-block;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 163, 88, 1);
  border-radius: 6px;
  padding: 10px 26px;
}

.section-products {
  margin-bottom: 90px;
}

aside {
  width: 310px;
  height: 774px;
  padding: 14px 24px 0px 18px;
  margin-left: 29px;
  background: rgba(251, 251, 251, 1);
}

.aside-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 16px;
}

.aside-list {
  margin: 0;
  padding: 7px 12px;
}

.aside-link {
  font-size: 15px;
  line-height: 40px;
}

.current-categories,
.aside-link:hover {
  font-weight: bold;
  color: rgba(70, 163, 88, 1);
}

.aside-salebunner {
  display: block;
  width: 370px;
  height: 470px;
}

.sale-bunner {
  width: 370px;
  height: 470px;
}

.container-product {
  width: 100%;
  margin-left: 50px;
}
.nav-product {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 23px;
  margin-bottom: 31px;
}

.nav-items {
  display: flex;
  gap: 40px;
}

.nav_link {
  font-size: 15px;
  line-height: 16px;
  margin-right: 40px;
}

.current-nav,
.nav-link:hover {
  font-weight: bold;
  color: rgba(70, 163, 88, 1);

  border-bottom: 2px solid rgba(70, 163, 88, 1);
}

.site-item-width {
  min-width: 95px;
}

.option-sort {
  display: flex;
  align-items: center;
}

.text-sort {
  font-size: 15px;
  line-height: 16px;
  margin: 0 8px 0 0;
}

select {
  border: none;
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}

option {
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-card {
  width: 258px;
  height: 350px;
  margin-bottom: 70px;

  border-top: 1px solid rgba(70, 163, 88, 1);
  border-color: transparent;
}

.item-card:hover {
  border-top: 1px solid rgba(70, 163, 88, 1);
}

.item-card:nth-child(n + 7) {
  margin-bottom: 0;
}

.img-card {
  width: 258px;
  height: 300px;
  text-align: center;
  background: rgba(251, 251, 251, 1);

  position: relative;
}

.product-link {
  background: rgba(251, 251, 251, 1);
}

.hover-menu {
  display: none;
}

.item-card:hover .hover-menu {
  display: flex;
  gap: 26px;
  padding: 0;
  position: absolute;
  bottom: 7px;
  left: 68px;
}

.item-name {
  line-height: 16px;
  margin: 12px 0 0 0;
}

.item-prise {
  font-size: 18px;
  font-weight: bold;
  line-height: 16px;
  color: rgba(70, 163, 88, 1);
  margin: 6px 0 0 0;
}

.prise-wrap {
  display: flex;
  gap: 16px;
}

.sale-prise {
  font-size: 18px;
  line-height: 16px;
  margin: 6px 0 0 0;

  color: rgba(165, 165, 165, 1);
}

.sale-flag {
  display: block;
  width: 80px;
  height: 30px;
  padding: 7px 8px;
  margin-top: 0;
  background: rgba(70, 163, 88, 1);

  color: rgba(255, 255, 255, 1);

  font-weight: 500;
  line-height: 16px;

  position: absolute;
  top: 14px;
}
