* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 25px auto 0;

  color: rgba(61, 61, 61, 1);
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}

header {
  width: 100%;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.wrap-header {
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.site-nav {
  margin-top: 8px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.navigation {
  display: block;
  padding: 0 0 23px 0;
  transition: all 0.5s;
}

.currrent-page,
.navigation:hover,
.navigation:focus {
  border-bottom: 3px solid rgba(70, 163, 88, 1);

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.wrap-icon {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .icon-search svg {
  width: 20px;
  height: 20px;
  color: 3D3D3D;
  transition: all 0.5s;
}

header .icon-search:hover svg {
  color: rgba(70, 163, 88, 1);
  cursor: pointer;
}

header .icon-cart {
  position: relative;
}

header .icon-cart .cart {
  width: 24px;
  height: 24px;
  color: 3D3D3D;
  transition: all 0.5s;
}

header .icon-cart:hover .cart {
  color: rgba(70, 163, 88, 1);
  cursor: pointer;
}

.elipse {
  min-width: 16px;
  min-height: 16px;
  padding: 1px;
  background: rgba(70, 163, 88, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -3px;
  left: 13px;
}

.elipse p {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: rgba(255, 255, 255, 1);
}

.site-nav-width {
  width: 80px;
  position: relative;
}

.wrap-second-menu {
  display: none;
  width: 100%;
  min-width: 188px;
  padding-top: 20px;
  position: absolute;
  top: 37px;
  left: -50px;
}

.navigation:hover .wrap-second-menu {
  display: block;
}

.nav-additional-menu {
  display: flex;
  flex-direction: column;
}

.additional-menu {
  width: 100%;

  height: 35px;
  color: rgba(61, 61, 61, 1);
  background: rgba(237, 246, 238, 1);
}

.additional-menu-link {
  display: block;
  width: 100%;
  padding: 7px 0px 8px 14px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  transition: all 0.5s;
}

.additional-menu-link:hover {
  background: rgba(26, 113, 42, 1);
  color: rgba(255, 255, 255, 1);

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.wrap-third-menu {
  display: none;
  width: 100%;
  min-width: 178px;
  position: absolute;
  left: 188px;
  top: 20px;
  padding-left: 5px;
}

.additional-menu:hover > .wrap-third-menu {
  display: block;
}

.last-item {
  display: flex;
  align-items: center;
  gap: 90px;
}

.material-symbols-outlined {
  padding: 0;
  margin: 0;
}

button {
  min-width: 100px;
  height: 35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Cera Pro;
  font-weight: 500;
  line-height: 20px;

  background: rgba(70, 163, 88, 1);
  border: 1px solid transparent;
  border-radius: 6px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;

  transition: all 0.5s;
}

button:hover,
button:focus {
  color: rgba(70, 163, 88, 1);
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(70, 163, 88, 1);
  border-radius: 6px;
}

button .logout {
  color: rgba(255, 255, 255, 1);
  margin-right: 4px;
  transition: all 0.5s;
}

button:hover .logout {
  color: rgba(70, 163, 88, 1);
}

section {
  width: 100%;
}

.hero-welcome {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h1 {
  margin-top: 7px;

  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}

.hero-span {
  color: rgba(70, 163, 88, 1);
}

.hero-text {
  font-size: 14px;
  line-height: 24px;

  margin: 5px 0px 44px 3px;
}

.section-hero {
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}

.wrap-hero {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 12px auto 46px auto;
}

.hero {
  padding: 68px 93px 85px 40px;
}

.button-link {
  display: inline-block;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 163, 88, 1);
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 10px 26px;
  transition: all 0.5s;
}

.button-link:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(70, 163, 88, 1);
  border: 1px solid rgba(70, 163, 88, 1);
  border-radius: 6px;
}

.wrap-products {
  max-width: 1200px;
  display: block;
  margin: 0 auto 94px auto;
}

.wrap-section {
  display: flex;
  margin-bottom: 90px;
}

aside {
  width: 310px;
  height: 774px;
  padding: 14px 24px 0px 18px;
  margin-left: 29px;
  background: rgba(251, 251, 251, 1);
}

.aside-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 16px;
}

.aside-list {
  margin: 0;
  padding: 7px 12px;
}

.aside-link {
  font-size: 15px;
  line-height: 40px;
  transition: all 0.5s;
}

.current-categories,
.aside-link:hover,
.aside-link:focus {
  font-weight: bold;
  color: rgba(70, 163, 88, 1);
}

.aside-salebunner {
  display: block;
  width: 370px;
  height: 470px;
}

.sale-bunner {
  width: 370px;
  height: 470px;
}

.container-product {
  width: 100%;
  margin-left: 50px;
}
.nav-product {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 23px;
  margin-bottom: 31px;
}

.nav-items {
  display: flex;
  gap: 40px;
}

.nav-items > li {
  margin-right: 40px;
}

.nav-link {
  font-size: 15px;
  line-height: 16px;
  transition: all 0.5s;
}

.current-nav,
.nav-link:hover,
.nav-link:focus {
  font-weight: bold;
  color: rgba(70, 163, 88, 1);

  border-bottom: 2px solid rgba(70, 163, 88, 1);
}

.site-item-width {
  min-width: 95px;
}

.option-sort {
  display: flex;
  align-items: center;
}

.text-sort {
  font-size: 15px;
  line-height: 16px;
  margin: 0 8px 0 0;
}

select {
  border: none;
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}

option {
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-card {
  width: 258px;
  height: 350px;

  border-top: 1px solid rgba(70, 163, 88, 1);
  border-color: transparent;

  transition: all 0.5s;
}

.item-card:hover {
  border-top: 1px solid rgba(70, 163, 88, 1);
}

.item-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 70px;
}

.img-card {
  width: 258px;
  height: 300px;
  text-align: center;
  background: rgba(251, 251, 251, 1);

  position: relative;
}

.product-link {
  background: rgba(251, 251, 251, 1);
}

.hover-menu {
  display: none;
  transition: all 0.5s;
}

.hover-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  width: 35px;
  height: 35px;
  border-radius: 4px;
}

.hover-item svg {
  width: 22px;
  height: 21px;
  color: 3D3D3D;

  transition: all 0.5s;
}

.hover-item:hover svg {
  color: rgba(70, 163, 88, 1);
  cursor: pointer;
}

.item-card:hover .hover-menu {
  display: flex;
  gap: 10px;
  padding: 0;
  position: absolute;
  bottom: 34px;
  left: 67px;
}

.item-name {
  line-height: 16px;
  margin: 12px 0 0 0;
}

.item-prise {
  font-size: 18px;
  font-weight: bold;
  line-height: 16px;
  color: rgba(70, 163, 88, 1);
  margin: 6px 0 0 0;
}

.prise-wrap {
  display: flex;
  gap: 16px;
}

.sale-prise {
  font-size: 18px;
  line-height: 16px;
  margin: 6px 0 0 0;

  color: rgba(165, 165, 165, 1);
}

.sale-flag {
  display: block;
  width: 80px;
  height: 30px;
  padding: 7px 8px;
  margin-top: 0;
  background: rgba(70, 163, 88, 1);

  color: rgba(255, 255, 255, 1);

  font-weight: 500;
  line-height: 16px;

  position: absolute;
  top: 14px;
}

.wrap-pages {
  display: flex;
  justify-content: end;
}

.pages {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.pages-number {
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.current-pages {
  background: rgba(70, 163, 88, 1);
  border: 1px solid transparent;

  cursor: pointer;
}

.pages-number:hover {
  border: 1px solid rgba(70, 163, 88, 1);
  color: (229, 229, 229, 1);

  cursor: pointer;
}

.pages-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(61, 61, 61, 1);

  width: 35px;
  height: 35px;

  transition: all 0.5s;
}

.current-link {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}
.pages-link:hover {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.pages-link:focus {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  background: rgba(70, 163, 88, 1);
  padding: 9px 12px;
  border-radius: 4px;
}

.wrap-blog {
  max-width: 1200px;
  display: block;
  margin: 0 auto 100px auto;
}

.feature-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 28px;
  margin-bottom: 138px;
}

.feature-item {
  display: flex;
  width: 100%;
  max-width: 586px;
}

.feature-img {
  margin-bottom: 10px;
}

.feature-info {
  padding: 35px 35px 35px 0;
  margin-top: 52px;

  display: flex;
  flex-direction: column;
  align-items: end;
  background: rgba(251, 251, 251, 1);
}

.feature-header {
  margin-bottom: 9px;

  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-align: right;
  color: rgba(61, 61, 61, 1);
}

.feature-text {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(114, 114, 114, 1);

  margin-bottom: 25px;
}

.feature-button {
  padding: 10px 28px;
  min-width: 140px;
  min-height: 40px;
  gap: 2px;
}

.main-arrow {
  padding: 4px;
}

.main-arrow svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 15px;
}

.blog-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 35px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 42px;
}

.container:last-child {
  margin-right: 0;
}

.blog-article {
  max-width: 268px;
  background: rgba(251, 251, 251, 1);
}

.blog-container {
  padding: 9px 12px 12px 15px;
}

.post-time {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: left;
  margin-bottom: 4px;

  color: rgba(70, 163, 88, 1);
}

.blog-text {
  line-height: 22px;
  text-align: left;
  margin-bottom: 9px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;

  margin-bottom: 4px;
}

.blog-link {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;

  transition: all 0.5s;
}

.blog-link:hover,
.blog-link:focus {
  color: rgba(70, 163, 88, 1);
}

.blog-link .span-arrow {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 4px 3px 3px;
  margin-left: 3px;
  margin-top: 1px;
}
.section-benefits {
  background: rgba(251, 251, 251, 1);
}

.wrap-benefits {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  display: flex;
  gap: 30px;
  margin-bottom: 24px;
}

.benefits-list {
  display: flex;
}

.benefits-img {
  margin-bottom: 15px;
  min-height: 96px;
}

.benefits-list h4 {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.benefits-item {
  padding: 0 30px;
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}

.benefits-item:first-child {
  padding-left: 0px;
}

.benefits-item:last-child {
  border-right: 1px solid transparent;
}

.form-email {
  width: 354px;
}

.form-email form {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.form-email p {
  text-align: justify;
  color: rgba(114, 114, 114, 1);

  font-size: 13px;
  line-height: 22px;
}

.benefits-label {
  display: inline-block;
  margin-bottom: 25px;
}

.input-wrap {
  display: flex;
  margin-bottom: 18px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
}

.input-wrap input {
  width: 270px;
  height: 40px;
  padding: 12px;
  background: rgba(255, 255, 255, 1);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid transparent;

  caret-color: rgba(70, 163, 88, 1);
}

.input-wrap input::placeholder {
  color: rgba(172, 172, 172, 1);
  font-size: 14px;
  line-height: 16px;
}

.input-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-height: 40px;
}

.input-btn:hover,
.input-btn:focus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.section-address {
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
}

.wrap-address {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 23px;
}

.address-img {
  margin-right: 10px;
}

.address-box {
  display: flex;
}

footer {
  width: 100%;
  background: rgba(251, 251, 251, 1);
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

.footer-copyright {
  background: transparent;
  border-bottom: none;
}

.wrap-footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  padding: 33px 155px 27px 25px;
  justify-content: space-between;
  margin-bottom: 6px;
}

.wrapper-footer {
  display: flex;
  padding: 33px 155px 27px 25px;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(70, 163, 88, 0.2); */
  margin-bottom: 6px;
}

footer h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;

  margin-bottom: 8px;
}

.footer-item {
  font-size: 14px;
  line-height: 30px;
}

.social {
  display: flex;
  gap: 10px;
  margin-bottom: 33px;
}

.header-social {
  margin-bottom: 20px;
}

.header-pay {
  margin-bottom: 13px;
}

.social-item {
  border-radius: 4px;
  border: 1px solid rgba(70, 163, 88, 0.2);

  transition: all 0.5s;
}

.social-item:hover {
  border: 1px solid rgba(70, 163, 88, 1);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
}

.copyright {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 13px;
}

.social-link svg {
  color: #46a358;

  transition: all 0.5s;
}

.social-link:hover svg {
  color: rgba(26, 113, 42, 1);
}

.modal-section {
  width: 100%;
  background: rgba(255, 255, 255, 1);
}

.modal {
  margin: 0 auto;
  width: 500px;
  padding: 13px;

  border: 1px solid rgba(70, 163, 88, 1);
  border-bottom: 10px solid rgba(70, 163, 88, 1);
}

.modal-close-btn {
  min-width: 18px;
  height: 18px;
  background: none;
  margin-left: auto;
}

.modal-form {
  padding: 21px 69px 37px 87px;
  display: flex;
  flex-wrap: wrap;
}

.modal-form h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
}

.registr-link {
  color: rgba(70, 163, 88, 1);
}

.modal-title {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.modal-text {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 14px;
}

.modal input {
  width: 300px;
  height: 40px;
  margin-bottom: 16px;
  padding: 12px 14px;

  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 5px;

  transition: all 0.5s;

  caret-color: rgba(70, 163, 88, 1);
}

.modal input::placeholder {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(165, 165, 165, 1);
}

.modal input:focus {
  border: 1px solid rgba(70, 163, 88, 1);
}

.modal .password-input {
  padding-right: 38px;
}

.password-wrap {
  position: relative;
}

.password-wrap svg {
  margin: 10px;
  cursor: pointer;
  color: #727272;

  position: absolute;
  right: 0px;
  bottom: 19px;

  transition: all 0.5s;
}

.password-wrap svg:hover {
  color: rgba(70, 163, 88, 1);
}

.registr-btn {
  min-width: 300px;
  min-height: 45px;

  margin-top: 25px;
  margin-bottom: 36px;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.registr-box {
  min-width: 300px;
  height: 12px;
  text-align: center;
  margin-bottom: 34px;

  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.registr-text {
  padding: 0px 6px;
  background: rgba(255, 255, 255, 1);

  font-size: 13px;
  line-height: 16px;
}

.registr-with-link {
  display: flex;
  min-width: 300px;
  min-height: 40px;
  align-items: center;
  gap: 9px;
  justify-content: center;

  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 5px;
}

.google {
  margin-bottom: 15px;
}

.registr-with-link {
  transition: all 0.5s;
}

.registr-with-link:hover,
.registr-with-link:focus {
  border: 1px solid rgba(70, 163, 88, 1);
}

@media screen and (max-width: 1199px) {
  .item-card:last-child {
    display: none;
  }
  aside {
    height: 1194px;
  }
  .nav-items {
    gap: 10px;
  }
  .container {
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 991px) {
  .wrap-hero {
    flex-wrap: wrap;
    padding: 44px 23px 0px;
  }

  .hero {
    padding: 0;
  }

  .wrap-hero img {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }

  .wrap-aside {
    display: none;
  }

  .wrap-section {
    margin-bottom: 46px;
  }

  .container-product {
    margin-left: 0;
    padding: 0 23px;
  }

  .item-list {
    justify-content: space-evenly;
  }

  .wrap-products {
    margin-bottom: 46px;
  }

  .feature-list {
    padding: 0 23px;
    margin-bottom: 46px;
  }

  .feature-item {
    flex-wrap: wrap;
  }

  .feature-img {
    margin-left: auto;
    margin-right: auto;
  }

  .feature-info {
    align-items: center;
    margin-top: 0;
    padding: 10px;
  }

  .feature-text {
    text-align: center;
  }

  .wrap-blog {
    margin-bottom: 46px;
  }

  .container {
    gap: 23px;
  }

  .wrap-benefits {
    flex-wrap: wrap;
    padding: 23px;
    gap: 46px;
  }

  .benefits-item:first-child {
    padding: 0 30px;
  }

  .form-email {
    margin: 0 auto;
  }

  .wrap-address {
    font-size: 12px;
    padding: 23px;
  }

  .wrap-footer {
    padding: 44px 23px 23px;
  }

  .copyright {
    font-size: 12px;
    padding: 7px;
  }
}

@media screen and (max-width: 767px) {
  .wrap-header {
    padding: 0 23px;
  }

  .site-nav {
    display: none;
  }

  .nav-items {
    gap: 20px;
  }

  .nav-items > li {
    margin: 0;
  }

  .item-list {
    justify-content: center;
    gap: 46px;
  }

  .item-card:not(:nth-last-child(-n + 3)) {
    margin-bottom: 0;
  }

  .feature-list {
    flex-wrap: wrap;
  }

  .wrap-address {
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding: 23px 170px;
  }

  .wrap-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .wrap-social {
    margin-top: 46px;
    display: flex;
    gap: 65px;
  }

  .header-pay {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 540px) {
  .nav-product {
    flex-wrap: wrap;
    gap: 20px;
  }

  .option-sort {
    margin-left: auto;
    flex-direction: column;
    align-items: start;
  }
  .benefits-list {
    flex-direction: column;
  }
  .benefits-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefits-text {
    text-align: center;
  }
  .wrap-social {
    flex-direction: column;
  }

  .input-wrap input {
    width: 100%;
  }

  .wrap-address {
    padding: 23px;
  }

  .wrap-footer {
    gap: 4px;
  }
}
