* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  width: 100%;
  margin: 25px auto 0;

  color: rgba(61, 61, 61, 1);
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}

header {
  width: 100%;
  height: 53px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);

  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.site-nav {
  margin-top: 8px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list a {
  display: block;
  padding: 0 0 23px 0;
}

.currrent-page,
.nav-list a:hover {
  border-bottom: 3px solid rgba(70, 163, 88, 1);

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.site-nav-width {
  width: 80px;
}

button {
  min-width: 100px;
  height: 35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Cera Pro;
  font-weight: 500;
  line-height: 20px;

  background: rgba(70, 163, 88, 1);
  border: none;
  border-radius: 6px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.btn_logout {
  margin-right: 4px;
}

section {
  border: 1px solid red;

  width: 100%;
  display: flex;
  justify-content: space-between;

  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}

.hero-welcome {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* margin: 68px 0px 0px 43px; */
}

h1 {
  margin-top: 7px;

  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}

.hero-span {
  color: rgba(70, 163, 88, 1);
}

.hero-text {
  font-size: 14px;
  line-height: 24px;

  margin: 5px 0px 44px 3px;
}

.section-hero {
  margin-top: 12px;
}

.hero {
  padding: 68px 93px 85px 40px;
}

.button-link {
  display: inline-block;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 163, 88, 1);
  border-radius: 6px;
  padding: 10px 26px;
}
